<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a742a63941a08deeb3a3da38017b0797 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a742a63941a08deeb3a3da38017b0797" ></div>
        
</body>
<script>
    
    
            var map_a742a63941a08deeb3a3da38017b0797 = L.map(
                "map_a742a63941a08deeb3a3da38017b0797",
                {
                    center: [39.2251888, -106.0019519],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_246d31e3a02eeda7d4accbdb2a8b5b9b = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri.NatGeoWorldMap", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a742a63941a08deeb3a3da38017b0797);
        
    
            var marker_beb5dc9d6b27e48e2587f9a0b00e59f4 = L.marker(
                [39.2251888, -106.0019519],
                {}
            ).addTo(map_a742a63941a08deeb3a3da38017b0797);
        
    
            var div_icon_139d650debcc97e1e1cbfa49186c7a2f = L.divIcon({"className": "empty", "html": "\n        \u003cdiv\u003e\u003csvg style= \"overflow: visible\"\u003e\n            \u003ccircle cx=\"0\" cy=\"0\" r=\"80\" fill=\"#8486e0\" opacity=\".4\"/\u003e\n            \u003ccircle cx=\"0\", cy=\"0\" r=\"50\" fill=\"#495280\", opacity=\".3\" \n        \u003c/svg\u003e\u003c/div\u003e"});
            marker_beb5dc9d6b27e48e2587f9a0b00e59f4.setIcon(div_icon_139d650debcc97e1e1cbfa49186c7a2f);
        
    
        var popup_56edb42eae3a964e81d147b873b9b264 = L.popup({"maxWidth": "100%"});

        
            
                var html_98a826871c8073206ebd10f5ff4ca384 = $(`<div id="html_98a826871c8073206ebd10f5ff4ca384" style="width: 100.0%; height: 100.0%;"><table style="height: 126px; width: 305px;">     <tbody>     <tr>     <td style="background-color: #495280;"><span style="color: #990861;">Institution Type </span></td>     <td style="width: 150px; background-color: #8486e0 "</td>     </tr> </table></div>`)[0];
                popup_56edb42eae3a964e81d147b873b9b264.setContent(html_98a826871c8073206ebd10f5ff4ca384);
            
        

        marker_beb5dc9d6b27e48e2587f9a0b00e59f4.bindPopup(popup_56edb42eae3a964e81d147b873b9b264)
        ;

        
    
    
            marker_beb5dc9d6b27e48e2587f9a0b00e59f4.bindTooltip(
                `<div>
                     Click for air quality data!
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>