<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_10db3958b7c83522b5b8a90075d7b922 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_10db3958b7c83522b5b8a90075d7b922" ></div>
        
</body>
<script>
    
    
            var map_10db3958b7c83522b5b8a90075d7b922 = L.map(
                "map_10db3958b7c83522b5b8a90075d7b922",
                {
                    center: [39.613321, -105.016649],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bcd3b1dbed21a8dcef7356ae6b1c9a70 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri.NatGeoWorldMap", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_10db3958b7c83522b5b8a90075d7b922);
        
    
            var marker_73979f384bbac742a9a15a4869024ac7 = L.marker(
                [39.613321, -105.016649],
                {}
            ).addTo(map_10db3958b7c83522b5b8a90075d7b922);
        
    
            var div_icon_25c0e8548c5d02a86c454e476083c9a2 = L.divIcon({"className": "empty", "html": "\n        \u003cdiv\u003e\u003csvg style= \"overflow: visible\"\u003e\n            \u003ccircle cx=\"0\" cy=\"0\" r=\"80\" fill=\"#8486e0\" opacity=\".4\"/\u003e\n            \u003ccircle cx=\"0\", cy=\"0\" r=\"50\" fill=\"#495280\", opacity=\".3\" \n        \u003c/svg\u003e\u003c/div\u003e"});
            marker_73979f384bbac742a9a15a4869024ac7.setIcon(div_icon_25c0e8548c5d02a86c454e476083c9a2);
        
    
        var popup_e05dbe27172ad1a020ac6219ecd999b2 = L.popup({"maxWidth": 130, "minWidth": 125});

        
            
                var html_00d1250bc8499ba9bd6ada6e1c9f91c9 = $(`<div id="html_00d1250bc8499ba9bd6ada6e1c9f91c9" style="width: 100.0%; height: 100.0%;"><strong> Littleton, Colorado </strong>      <br>AQI = 45     <br> CO = 0.473     <br> NO2 = 4.639     <br>SO2 = 0.531     <br>OZONE = 26.085     <br>PM10 = 15.609     <br>PM25 = 10.874</div>`)[0];
                popup_e05dbe27172ad1a020ac6219ecd999b2.setContent(html_00d1250bc8499ba9bd6ada6e1c9f91c9);
            
        

        marker_73979f384bbac742a9a15a4869024ac7.bindPopup(popup_e05dbe27172ad1a020ac6219ecd999b2)
        ;

        
    
    
            marker_73979f384bbac742a9a15a4869024ac7.bindTooltip(
                `<div>
                     Click for air quality data!
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>